* {
    margin: 0;
}

.app {
    background-color: #fafafa;
    height: 100vh;
}

.app__header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
}

.app-img {
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app__signup {
    display: flex;
    flex-direction: column;
}